.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    /* width: 100vh; */
}

.login > div > img {
    object-fit: contain;
    height: 150px;
}

.login > button {
    width: 300px;
    color: white;
    background-color: rgb(2, 150, 199);
}

.login > button:hover {
    color: rgb(134, 210, 235);
    background-color: white;
}

